#shuttleBackground {
    background-color: green;
    display: inline-block;
    height: 80%;
    width: 40%;
    position: relative; /* change from relative to absolute?, per Studio Note */
}

#flightStatus {
    color: green;
}

#flightDisplay {
    text-align: center; 
    height: 400px; 
    width: 100%;
}

#spaceShuttleHeight {
    display: inline-block;
}

.center-block {
    text-align: center; 
    display: inline-block;
}

.centered {
    text-align: center;
}

#rocket {                  /*relative to it's container/field */
    position: absolute;    /*change from relative to absolute?, per Studio Note */
    bottom: 0; 
    left: calc(50%-38px);  /*45%??*/
} 

/*<img src = "LaunchCode_rocketline_white.png" height = "75" width = "75" id = "rocket" style = "position: absolute; bottom: 0; left: calc(50% - 38px)"/>*/